<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :last_name, "氏名（姓）"%>
          <%= f.text_field :last_name,class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :first_name, "氏名（名）"%>
          <%= f.text_field :first_name,class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password,"パスワード" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation,"パスワード確認" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit "登録する", class: "px-2 py-1 bg-green-400 text-white text-lg font-semibold rounded hover:bg-green-600" %>
      <% end %>
      <div class='text-center'>
        <%= link_to "ログインページへ", login_path %>
      </div>
    </div>
  </div>
</div>