<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', size:'100x100' %>
      <% end %>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ml-auto main-nav align-items-center'>
          <li class='nav-item dropdown'>
            <a href='#' class='nav-link dropdown-toggle'  id='navbarDropdown' role= 'button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              宅トレメニュー
            </a>
            <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
              <%= link_to '部位別', '#', class: 'dropdown-item' %>
              <%= link_to '時間別', '#', class: 'dropdown-item' %>
            </ul>
          </li>
          <li class='nav-item'>
            <%= link_to 'みんなのオススメ動画を見る', '#', class: 'nav-link' %>
          </li>

          <li class='nav-item dropdown'>
            <a href='#' class='nav-link dropdown' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='header-profile' role= 'button'>
              <%= image_tag 'logo.png', class: 'rounded-circle mr15',size: '50x50' %>
            </a>
            <div class='dropdown-menu dropdown-menu-right'>
              <div class='dropdown-item'>宅トレちゃん</div>
              <div class='dropdown-divider'></div>
              <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>
              <%= link_to 'ログアウト', '#', class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
